/* Generics*/
.main-container{

    body, p, span{
       font-family: 'Raleway', sans-serif;
       font-size: 15px;
    }
    
    .no-margin{
        margin: 0 !important;
    }
    .margin-bottom-0{
        margin-bottom: 0;
    }
    .login-container{
        position: relative;
        height: 100%;
        .login-bg{
            position: absolute;
            width: 50%;
            background-image: url("../../public/images/bg.png");
            height: 100%;
            z-index: -1;
        }
    
        .title-content{
            padding-top: 200px;
            &.full-height{
                height: 100vh;
            }
            .partial-width-content{
                padding: 0 0 0 10%;
                position: relative;
                h1{
                    font-family: 'Raleway', sans-serif;
                    font-size: 30px;
                    font-weight: 300;
                    line-height: 1.33;
                    text-align: left;
                    color: #ffffff;
                    .title-strong{
                        font-weight: bold;
                    }
                }
                p{
                    font-family: 'Raleway', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    text-align: left;
                    color: #ffffff;
                }
            }
            img{
                position: absolute;
                top: 15%;
                right: 51%;
                max-height: 70%;
            }
        }
        .login{
            &.full-height{
                height: 100vh;
            }
            padding: 150px 10% 0 10%;
            h2{
                font-family: 'Raleway', sans-serif;
                font-size: 36px;
                font-weight: 300;
                line-height: 1.33;
                text-align: left;
                color: #27272a;
            }
            .error{
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
                font-weight: 500;
                text-align: left;
                color: #f6a623;
                img{
                    top: 3px;
                    position: relative;
                    margin-right: 10px;
                }
            }
            input{
                &[type="text"], &[type="password"]{
                    border-radius: 8px;
                    background-color: #ffffff;
                    border: solid 1px #dddddd;
                    margin: 25px 0 0;
                    color: #9b9b9b;
                    box-shadow: none !important;
                    padding: 0 10px;
                    width: 100%;
                } &.error{
                    border: solid 1px #f6a623;
                }
            }
            .buttons-section{    
                display: block;
                margin-top: 30px;
                position: relative;
                input{
                    &[type="checkbox"].filled-in:checked + label:after{
                        border: 2px solid #0044ff;
                        background-color: #0044ff;
                    }
                }
                label{
                    font-family: 'PT Sans', sans-serif;
                    font-size: 16px;
                    text-align: left;
                    color: #27272a;
                }
                .send-button{
                    font-family: 'Raleway', sans-serif;
                    border-radius: 8px;
                    background-color: #0044ff;
                    color: #ffffff;
                    width: 100%;
                    padding: 10px 0;
                    font-size: 16px;
                    font-weight: 600;
                    border: none;
                    margin-top: -15px;
                }
                .forgot-password{
                    font-family: 'PT Sans', sans-serif;
                    font-size: 13px;
                    line-height: 1.5;
                    text-align: center;
                    color: #0144ff;
                    margin-top: 21px;
                    display: block;
                }
            }
            .by-salmon{
                position: absolute;
                top: auto;
                bottom: 20px;
                width: 40%;
                text-align: center;
                font-family: 'PT Sans', sans-serif;
                font-size: 14px;
                color: #9b9b9b;
                .strong{
                    font-weight: bolder;
                }
            }
        }
    }
    .dashboard-container{
        text-align: center;
        .menu{
            h3{
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                font-weight: 500;
                line-height: 1.53;
                text-align: center;
                color: #4a4a4a;
            }
            .avatar{
                width: 52px;
                height: 52px;
                margin: 20px auto 0;
            }
            ul{
                border-top: solid 1px #ecedf0;
                .tab{
                    width: 100%;
                    padding: 12px;
                    position: relative;
                    padding-left: 50px;
                    text-align: left;
                    cursor: pointer;
                    &:hover{
                            opacity: 0.7;
                        }
                    &.active{
                        border-left: #0044ff solid 3px;
                    }
                    img{
                        position: absolute;
                        top: 10px;
                        left: 10px;
                    }
                }
            }
        }
        .content-wrapper{
            background-color: #ffffff;
            height: 100vh;
            .header{
                display: flex;
                text-align: left;
                padding: 0px 20px 0;
                position: relative;
                h2{
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: left;
                    color: #9b9b9b;
                    margin-bottom: 0;
                }
                h1{
                    font-family: 'Raleway', sans-serif;
                    font-size: 18px;
                    text-align: left;
                    color: #4a4a4a;
                    margin-top: 15px;
                    padding-right: 20px;
                    cursor: pointer;
                    &:hover{
                        opacity: .6;
                    }
                }
                .routesFilter{
                    position: absolute;
                    margin-top: 0px;
                    width: 447px;
                    height: 340px;
                    background-color: #ffffff;
                    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.12);
                    border: solid 1px #ecedf0;
                    z-index: 1;
                    left: 1%;
                    border-radius: 4px;
                    display: none;
                    &.active{
                        display: block;
                    }
                    ul{
                        li{
                            padding: 10px 5px 10px 35px;
                            font-family: 'Raleway', sans-serif;
                            font-size: 16px;
                            text-align: left;
                            color: #4a4a4a;
                            cursor: pointer;
                            &.active{
                                background-image: url("../../public/images/group.png");
                                background-position: 10px center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                    &::after, &::before {
                        bottom: 100%;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }

                    &::after {
                        border-color: rgba(255, 255, 255, 0);
                        border-bottom-color: #ffffff;
                        border-width: 4px;
                        margin-left: -4px;
                    }
                    &::before {
                        border-color: rgba(255, 255, 255, 0);
                        border-bottom-color: #ffffff;
                        border-width: 5px;
                        margin-left: -5px;
                    }
                }
                .export-buttons{
                    padding-top: 25px;
                    .exportPDF{
                        position: relative;
                        display: inline-block;
                        border-radius: 8px;
                        background-color: #ffffff;
                        border: solid 1px #ecedf0;
                        padding: 9px 9px 1px;
                        margin-right: 10px;
                        top: 17px;
                        img{
                            height: 20px;
                            width: auto;
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                    .exportExcel{
                            position: relative;
                            display: inline-block;
                            border-radius: 8px;
                            background-color: #0044ff;
                            font-family: 'Raleway', sans-serif;
                            font-size: 16px;
                            font-weight: 600;
                            text-align: left;
                            color: #ffffff;
                            border: none;
                            padding: 6px 47px 7px 14px;
                            line-height: 24px;
                            top: 10px;
                        img{
                            position: absolute;
                            height: 20px;
                            width: auto;
                            left: auto;
                            right: 18px;
                            top: 10px;
                            
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }
            .content{
                background-color: #ffffff;
                margin: 0 30px;
                .filters{
                    padding: 10px;
                    display: flex;
                    border: solid 1px #ecedf0;
                    .aliasFilter{
                        border-radius: 50px;
                        background-color: #ffffff;
                        border: solid 1px #e1e3eb;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 15px;
                        text-align: left;
                        color: #4a4a4a;
                        padding: 0 20px 0 20px;
                        box-shadow: none !important;
                        background-image: url("../../public/images/loupe.png");
                        background-position: 95% center;;
                        background-repeat: no-repeat;
                        margin: 0;
                        height: 30px;
                        width: calc(100% - 40px);
                        &:focus{
                            border:1px solid #0044ff;
                        }
                    }
                    .filter-container{
                        display: block;
                        float: right;
                        margin-right: 20px;
                        .label{
                            display: inline-block;
                            font-family: Raleway;
                            font-size: 16px;
                            text-align: left;
                            color: #4a4a4a;
                            margin-right: 10px;
                        }
                        .filter{
                            display: inline-block;
                            cursor: pointer;
                            &.dateFilter{
                                position: relative;
                                border-radius: 4px;
                                background-color: #ffffff;
                                border: solid 1px #e1e3eb;
                                padding: 4px 9px 3px 8px;
                                margin-right: 17px;
                                span{
                                    margin-left: 10px;
                                    padding-left: 10px;
                                    border-left: solid 1px #e1e3eb;
                                }
                            }
                            &.orderFilter{
                                padding-top: 6px;
                                font-family: 'Raleway', sans-serif;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: left;
                                color: #4a4a4a;
                                img{
                                    margin-left: 5px;
                                }
                            }
                        }
                        &.date{
                            position: relative;
                            .dateFilterContent{
                                position: absolute;
                                margin-top: 20px;
                                width: 268px;
                                height: 340px;
                                background-color: #ffffff;
                                box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.12);
                                border: solid 1px #ecedf0;
                                z-index: 1;
                                left: -30%;
                                border-radius: 4px;
                                display: none;
                                &.active{
                                    display: block;
                                }
                                ul{
                                    border-bottom: solid 1px #ecedf0;
                                    li{
                                        padding: 10px 5px 10px 35px;
                                        font-family: 'Raleway', sans-serif;
                                        font-size: 16px;
                                        text-align: left;
                                        color: #4a4a4a;
                                        cursor: pointer;
                                        &.active{
                                            background-image: url("../../public/images/group.png");
                                            background-position: 10px center;
                                            background-repeat: no-repeat;
                                        }
                                    }
                                }
                                .personalized{
                                    font-family: 'Raleway', sans-serif;
                                    font-size: 14px;
                                    text-align: left;
                                    color: #9b9b9b;
                                    display: block;
                                    img{
                                        position: relative;
                                        margin-right: 10px;
                                        margin-left: 5px;
                                        top: 2px;
                                    }
                                    span{
                                        display: block;
                                        text-align: center;
                                        padding-top: 15px;
                                        input{
                                            &[type="date"]{
                                                width: 40%;
                                                padding: 0 5px;
                                                border-radius: 4px;
                                                background-color: #ffffff;
                                                border: solid 1px #dddddd;
                                                box-shadow: none !important;
                                            }
                                        }
                                    }
                                }
                                .apply{
                                    border-radius: 4px;
                                    background-color: #4a4a4a;
                                    border: solid 1px #ecedf0;
                                    font-family: 'Raleway', sans-serif;
                                    font-size: 14px;
                                    font-weight: 500;
                                    text-align: center;
                                    color: #ffffff;
                                    width: 95%;
                                    padding: 10px;
                                }
                                &::after, &::before {
                                    bottom: 100%;
                                    left: 50%;
                                    border: solid transparent;
                                    content: " ";
                                    height: 0;
                                    width: 0;
                                    position: absolute;
                                    pointer-events: none;
                                }

                                &::after {
                                    border-color: rgba(255, 255, 255, 0);
                                    border-bottom-color: #ffffff;
                                    border-width: 4px;
                                    margin-left: -4px;
                                }
                                &::before {
                                    border-color: rgba(255, 255, 255, 0);
                                    border-bottom-color: #ffffff;
                                    border-width: 5px;
                                    margin-left: -5px;
                                }
                            }
                        }
                    }
                    
                }
                .table-header{
                    background-color: #f5f7f9;
                    display: flex;
                    padding: 10px 1px;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: left;
                    color: #4a4a4a;
                    span{
                        display: block;
                        font-family: 'PT Sans', sans-serif;
                        font-size: 12px !important;
                        text-align: left;
                        color: #9b9b9b;
                        font-weight: normal;
                    }
                }
                .table-body{
                    overflow: auto;
                    .element{
                        border: 1px solid #ECEDF0;
                        margin-top: 5px;
                        .title-row{
                            border-bottom: solid 1px #ecedf0;
                            border-right: solid 1px #ecedf0;
                            padding: 5px;
                            .driver{
                                font-family: 'Raleway', sans-serif;
                                font-size: 15px;
                                color: #4a4a4a;
                            }
                            .alias{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 12px;
                                font-weight: bold;
                                color: #4a4a4a;
                                margin-left: 5px;
                                padding-top: 3px;
                            }
                            .route{
                                font-family: Raleway;
                                font-size: 12px;
                                font-weight: 500;
                                color: #4a4a4a;
                                padding-top: 3px;
                            }
                        }
                        .way-row{
                            border-right: solid 1px #ecedf0;
                            &.return{
                                border-top: solid 1px #ecedf0;
                            }
                            .col{
                                padding: 4px;
                                .way{
                                    font-family: 'Raleway', sans-serif;
                                    font-size: 10px;
                                    font-weight: 600;
                                    text-align: right;
                                    color: #4a4a4a;
                                    width: 100%;
                                    display: block;
                                    line-height: 40px;
                                }
                                .start-time{
                                    font-family: 'Open Sans', sans-serif;
                                    font-size: 18px;
                                    font-weight: bold;
                                    color: #4a4a4a;
                                    display: block;
                                    width: 100%;
                                    text-align: left;
                                    line-height: 18px;
                                    margin-top: -1px;
                                }
                                .start-station{
                                    font-family: 'Raleway', sans-serif;
                                    font-size: 12px;
                                    text-align: left;
                                    color: #9b9b9b;
                                    display: block;
                                    width: 100%;
                                }
                                .stops{
                                    .stop{
                                        width: 25%;
                                        display: inline-block;
                                        position: relative;
                                        .circle{
                                            display: inline-block;
                                            position: relative;
                                            width: 17px;
                                            height: 17px;
                                            background-color: #e8e9ee;
                                            border-radius: 39px;
                                            padding: 0px;
                                            &.check{
                                                background-color: #bcc0cf;
                                            }
                                            img{
                                                width: 10px;
                                                height: 8px;
                                                position: relative;
                                                top: -3px;
                                            }
                                        }
                                        .number{
                                            position: absolute;
                                            display: block;
                                            top: 19px;
                                            left: 0;
                                            width: 100%;
                                            text-align: center;
                                            font-size: 11px;
                                            &.ahead{
                                                color: #7ed321;
                                            }
                                            &.delay{
                                                color: #f84e63;
                                            }
                                        }
                                        &::after, &::before{
                                            position: absolute;
                                            display: inline-block;
                                            bottom: calc(50%);
                                            content: "";
                                            border-bottom: solid 3px #e1e3eb;
                                            line-height: 2px;
                                            width: calc(50% - 11px);
                                        }
                                        &::after{
                                            left: auto;
                                            right: 0px;
                                        }
                                        &::before{
                                            left: 0px;
                                            right: auto;
                                        }
                                        &.first{
                                            &::before{
                                                display: none
                                            }
                                        }
                                        &.last{
                                            &::after{
                                                display: none
                                            }
                                        }
                                    }
                                }
                                .title-delays{
                                font-family: 'Raleway', sans-serif;
                                font-size: 10px;
                                text-align: left;
                                color: #4a4a4a;
                                width: 100%;
                                display: block;
                                    img{
                                        width: 12px;
                                        height: auto;
                                        position: relative;
                                        top: 2px;
                                    }
                                }
                                .delay{
                                    position: relative;
                                    top: -2px;
                                }
                            }
                        }
                        .totals{
                            position: relative;
                            .date{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 12px;
                                color: #4a4a4a;
                                display: inline-block;
                                padding-top: 8px;
                            }
                            .exportPDFItem{
                                display: inline-block;
                                border-radius: 8px;
                                background-color: #ffffff;
                                border: solid 1px #ecedf0;
                                padding: 0px 4px 0px;
                                position: absolute;
                                right: 4px;
                                top: 4px;
                                img{
                                    height: 12px;
                                    width: auto;
                                    position: relative;
                                    top: 1px;
                                }
                                &:hover{
                                    opacity: 0.8;
                                }
                            }
                            .total-title{
                                font-family: 'Raleway', sans-serif;
                                font-size: 10px;
                                font-weight: 500;
                                text-align: center;
                                color: #4a4a4a;
                                margin-top: 10px;
                            }
                            .price{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 22px;
                                font-weight: bold;
                                text-align: center;
                                color: #4a4a4a;
                            }
                            .appelations{
                                border-radius: 100px;
                                border: solid 1px #0044ff;
                                font-family: Raleway;
                                font-size: 10px;
                                font-weight: 600;
                                text-align: center;
                                color: #0044ff;
                                background-color: white !important;
                            }
                        }
                        .details{
                            display: block;
                            width: 100%;
                            padding: 5px;
                            background-color: #f8f9fb;
                            border-top: solid 1px #ecedf0;
                            font-family: 'Raleway', sans-serif;
                            font-size: 11px;
                            font-weight: 600;
                            text-align: center;
                            color: #000000;
                            cursor: pointer;
                        }
                    }
                }
            }
            /*Modificar el chart*/
            .recharts-cartesian-axis-line, .recharts-cartesian-axis-tick-line{
                display: none;
            }
            .recharts-bar-label{
                font-family: 'Raleway', sans-serif;
                font-size: 12px;
                font-weight: bold;
            }
            .recharts-cartesian-axis-tick-value{
                font-family: 'Raleway', sans-serif !important;
                font-size: 12px;
            }
            .font-big{
                font-size: 36px !important;
                font-weight: 700;
                color: #4a4a4a;
                font-family: 'Open Sans', sans-serif;
            }
            .font-min{
                 font-family: 'Raleway', sans-serif;
	            font-size: 16px !important;
	            color: #4a4a4a;
                font-weight: 300 !important;
                margin: 5px;
                position: relative;
                top: -5px;
            }
            .highlight{
                margin-top: 5px;
                margin-bottom: 5px;
                display: inline-block;
                position: relative;
                width: 100%;
            }
            .recharts-surface{
                overflow: visible;
                margin-top: 20px;
            }
            input:focus{
            border:1px solid #0044ff;
            }
            .height-100{
                min-height: 100%;
                height: 100%;
            }
                .green-dot{
                    width: 15px;
                    height: 15px;
                    background-color: #7ED321;
                    border-radius: 50%;
                    margin: 10px 10px;
                    position: absolute;
                    right: 40%;
                }
                .red-dot{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    margin: 10px 10px;
                    position: absolute;
                    right: 40%;
                    background-color: #F84E63;

                }
            /*Configuration page*/
            .box-config{
                padding: 0 20px;
                h3{
                    font-family: 'Raleway', sans-serif;
	                font-size: 20px !important;    
                    text-align: left;
                    color: #4a4a4a;
                }
                input{
                    border-radius: 8px;
                    background-color: #ffffff;
                    border: solid 1px #dddddd;
                    margin: 15px 0 0;
                    color: #9b9b9b;
                    box-shadow: none !important;
                    padding: 0 10px;
                    width: 80%;
                    &[type="checkbox"].filled-in:checked + label:after{
                        border: 2px solid #0044ff;
                        background-color: #0044ff;
                    }
                }
                .lines{
                    border: 1px solid #ddd;
                }
            }
        }
    }
}