html{
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    background-image: url(../images/bg-main.png);
    background-size: cover;
    font-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100%;
}
.big a{
    color: #fff;
    font-weight: 900;
    font-size: 7rem;
    text-align: center;
}
.med a{
    color: #fff;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
}
.med{
    margin-top: 30vh;
}
.big{
    margin-top: 35vh;
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.violet-color{
    color: #EB88FF;
    display: inline-block;
    margin: 0 15px;
    font-size: 18px;
}
.green-color{
    color: #05FFC7;
    font-size: 16px;
}
.white-color{
    color: #fff;
    font-size: 20px
}
.center{
    margin: auto;
    float: none !important;
}
.bar{
    background-color: #05FFC7;
    display: block;
    height: 20px;
    width: 100%;
    margin-bottom: 100px
}
h2, h3, h4, h5, h6{
    font-weight: normal;
    text-align: center
}