<link rel="stylesheet" media="screen" href="assets/stylesheets/indexStyle.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900" rel="stylesheet">

@main("s4lmon", "s4lmon") {

        <div class="container">
            <div class="row">
                <div class="col 12">
                    <a href="#" class="logo">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                    <span class="violet-color">(Coming soon)</span>
                </div>
            </div>
       <div class="row">
                <div class="col s12">
                    <h1 class="big center-align show-on-medium-and-up hide-on-small-only"><a href="mailto:hola&#64;s4lmon.com">hola&#64;s4lmon.com</a></h1>
                    <h1 class="med center-align hide-on-med-and-up"><a href="mailto:hola&#64;s4lmon.com">hola&#64;s4lmon.com</a></h1>
                </div>
           </div>
           <div class="row">
                <div class="col s4 bar center"></div>
                <h2 class="white-color">We are swimming in the ocean...  but you can write us.</h2>
                <h3 class="green-color">UX/UI - FrontEnd (React) - BackEnd (Machine Learning) - DevOps</h3>
           </div>
        </div>


}
 <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")" type="text/javascript"></script>