@main("Ingresa", "login") {


@helper.form(action = routes.LoginController.post, 'enctype -> "multipart/form-data") {
<form>

    <input type="text" name="email" placeholder="Nombre de usuario" >
    <input type="password" name="password" placeholder="Contraseña" >
    <input type="submit" value="Entrar">

</form>


}


}